<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    {% load staticfiles %}
    <title>Create an Event</title>
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/style.css'%}">
  </head>
  <body>
    <div id="container">
    {% for restaurant in restaurants.objects %}
      <p><a href="{{restaurant.website_url}}">{{restaurant.name}}</a></p>
    {% endfor %}
    <br>
    <h1>Welcome {{request.session.user_firstname}}</h1>
    <h3>To create a new event let's start by picking which location you'd like to have your party reservation. </h3>
    <form action="{% url 'city' %}" method="post">
      {% csrf_token %}
      City: <select name="city">
      <option value="Seattle">Seattle</option>
      <option value="Bellevue">Bellevue</option>
      <option value="Redmond">Redmond</option>
      <option value="Bellingham">Bellingham</option>
      <input type="submit" value="search">
    </form>
    <h3>Great {{request.session.city}} it is, here are the restaurants open on Thanksgiving. Go ahead and choose one (don't worry you can always change it later) to create your event.</h3>
    <table>
      <thead>
        <tr>
          <th>Restaurants in</th>
          <th>{{request.session.city}}</th>
        </tr>
      </thead>
      <tbody>
        {% for place in places.objects %}
        <tr>
          <form action="{% url 'create'%}" method='post'>
           {% csrf_token %}
            <input type='hidden' name='name' value='{{place.name}}'>
            <input type='hidden' name='resource_uri' value='{{place.resource_uri}}'>
            <td>{{place.name}}</td>
            <td><input class='btn' type='submit' value='Make Reservation'></td>
          </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </body>
</html>
