<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    {% load staticfiles %}
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/style.css'%}">
  </head>
	<body>
		<div id="container">
			<h1>Welcome {{request.session.user_firstname}}</h1>
			<a class='btn header' href="{% url 'add' %}">Create an Event</a>
			<a class="btn header" href='/profile'>Profile</a>
      <a class="btn header" href='/logout'>Logout</a>
			<div id="you">
				<h2>Your Reservations</h2>
				<div class="event">
					<h4>SEATTLE</h4>
					<h4>Mudhoney</h4> <!-- link to event  page -->
					<h4>Reservation time: 8:00pm</h4>
					<h4>Number in party: 4</h4>
					<h4>Description:</h4>
					<a class="btn" href='#'>Leave</a>
				</div>
			</div>
			<div id="other">
				<h2>Other Reservations</h2>
					<div class="event">
					<h4>REDMOND</h4>
					<h4>Mudhoney</h4> <!-- link to event  page -->
					<h4>Reservation time: 8:00pm</h4>
					<h4>Number in party: 4</h4>
					<h4>Description:</h4>
					<a class="btn" href='#'>Join</a>
				</div>
			</div>
		</div>
		<img id="turkey" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7j55S7xr9tucX3ixJAkBl3Rt_0EF7zDyADAIUYnQP98xGothU">
	</body>
</html>
