<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    {% load staticfiles %}
    <title>Let Them Eat Turkey</title>
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/style.css'%}">
  </head>
	<body>
    <div id="container">
      <div class="info">
        <a class="btn header" href="/events/my_events">Go to Events</a>
        <h1>{{request.session.event_name}}</h1>
        {% for something in event.objects %}
        <br>
        <h1>{{something.name}}</h1>
        <h2>{{something.street_address}}</h2>
        <h2>{{something.locality}}, {{something.region}} {{something.postal_code}}</h2>
        <h3><a target='_blank' href="{{something.website_url}}">{{something.website_url}}</a></h3>
      {% endfor %}
        <h4 class='notes'>{{request.session.notes}}</h4>
      </div>
    </div>
	</body>
</html>
