* {
  margin: 0px;
  padding: 0px;
  font-family: arial, sans-serif;
}

body {
  margin-top: 80px;
}

#container {
  width: 970px;
  margin: 0px auto;
  color: #e67200;
}

.submit-btn {
  border: none;
}

.btn {
  display: block;
  width: 145px;
  height: 20px;
  margin: 10px;
  padding: 5px;
  background-color: brown;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
}

.header {
  margin-left: 650px;
}

.event  {
  display: inline-block;
  width: 250px;
  height: 160px;
  /*border: 1px solid black;*/
}
.res  {
  margin-left: 410px;
}

.notes {
  border: 1px solid black;
}

form  {
  text-align: center;
}

tr, td {
  width: 250px;
}

textarea, label {
  display: block;
  margin: 5px;
}

textarea {
  margin-left: 380px;
  width: 220px;
  height: 50px;
}
h2{
  font-size: 40px;
}
h4{
  font-size: 20px;
}
#turkey{
  position: fixed;
  left: 80%;
  top: 80%;
}
