<html>
	<head>
	</head>
	<body>
		<h1>Success!</h1>
		<p>Email: {{user.email}}</p>
		<p>Welcome {{user.first_name}}!</p>
		<hr>
		<p><a href="/logout">Logout</a><p>

        {% for restaurant in restaurants.objects %}
            <p><a href="{{restaurant.website_url}}">{{restaurant.name}}</a></p>
        {% endfor %}
        <br>
        <h1>Search for restaurants in your city</h1>
        <form action="{% url 'city' %}" method="post">
            {% csrf_token %}
            City: <select name="city">
            <option value="Seattle">Seattle</option>
            <option value="Bellevue">Bellevue</option>
            <option value="Redmond">Redmond</option>
            <option value="Bellingham">Bellingham</option>
            <input type="submit" value="search">
        </form>
        {% for place in places.objects %}
            <p><a href="{{place.website_url}}">{{place.name}}</a></p>
        {% endfor %}

        
	</body>
</html>
