<html>
	<head>
		<title>Thinder</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'events/css/style.css'%}">
	</head>
	<body>
		<div id="container">
			<a class="btn header" href="/events">Go to Events</a>
			<a class="btn header" href="/logout">Logout</a>
			<h1>Welcome {{request.session.user_firstname}}!</h1>
			<br><hr><br>
			<p>Name: {{user.first_name}} {{user.last_name}}</p>
			<p>Email: {{user.email}}</p>
			<p>Location: {{user.location}}</p>
		</div>
	</body>
</html>
